	/*html {
	background-color: #ebeef1;
}*/

	.mui-bar-nav {
		background-color: rgb(5, 166, 240);
	}

	.mui-bar-nav a,
	.mui-bar-transparent a {
		color: #fff !important;
	}

	.mui-title {
		color: #fff;
	}

	.mui-slider-title {
		color: #fff;
		background-color: #717375;
	}

	.mui-table-view-cell:after {
		transform: scaleY(.2);
	}

	.mui-table-view-cell {
		padding: 12px 15px;
	}

	.mui-bar-nav {
		box-shadow: none;
		-webkit-box-shadow: none;
	}

	a:hover {
		text-decoration: none!important;
	}

	.mui-btn-blue,
	.mui-btn-primary,
	input[type=submit] {
		color: #fff;
		border: 1px solid #05a6f0;
		background-color: #05a6f0;
	}
	/*----------------------*/

	.cus-uk-tab-a {
		padding-bottom: 8px !important;
		padding-top: 15px !important;
		font-size: 1rem !important;
		font-weight: 500;
	}

	.uk-tab>.uk-active>a {
		color: #2c596d!important;
	}

	.uk-tab>*>a {
		border-bottom: 2px solid transparent;
	}

	.uk-background-white {
		background-color: #fff;
	}

	.uk-card-body {
		padding: 20px 20px!important;
		;
	}

	.uk-card-title {
		font-size: 1rem;
		line-height: 1.4 !important;
	}

	.uk-card-body-list {
		padding: 10px 20px;
	}

	.uk-card-title-list {
		margin: 0 0 8px 0;
	}

	.ui-p-list {
		margin-top: 8px;
	}

	.uk-card-footer-list {
		width: 100%;
		padding: 5px 25px;
	}

	.uk-card-title-ul {
		margin: 0 0 14px 0;
	}

	html {
		background: #efeff4!important;
	}

	.mui-ellipsis-3 {
		display: -webkit-box;
		overflow: hidden;
		white-space: normal!important;
		text-overflow: ellipsis;
		word-wrap: break-word;
		-webkit-line-clamp: 3;
		-webkit-box-orient: vertical;
	}

	.mui-ellipsis-4 {
		display: -webkit-box;
		overflow: hidden;
		white-space: normal!important;
		text-overflow: ellipsis;
		word-wrap: break-word;
		-webkit-line-clamp: 4;
		-webkit-box-orient: vertical;
	}

  .content-head-background {
    background: url('../images/index-10.jpg');
    width: 100%;
    height: 320px;
  }
