.mui-imageviewer {
	position: absolute;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.9);
	width: 100%;
	height: 100%;
	z-index: 99;
	left: 0px;
	top: 0px;
	display: none;
	opacity: 0;
	-webkit-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	-webkit-transform-style: preserve-3d;
	-webkit-backface-visibility: hidden;
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.mui-imageviewer-mask {
	position: absolute;
	z-index: 11;
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	display: none;
}

.mui-imageviewer .mui-imageviewer-header {
	position: absolute;
	height: 45px;
	width: 100%;
	left: 0px;
	top: 0px;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.5);
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.mui-imageviewer .mui-imageviewer-state {
	display: block;
	width: 100%;
	height: 100%;
	line-height: 100%;
	color: #eee;
	text-align: center;
	font-size: 16px;
	padding: 15px;
}

.mui-imageviewer .mui-imageviewer-header .mui-imageviewer-close {
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: 32px;
	color: #aaa;
}

.mui-imageviewer .mui-imageviewer-header .mui-imageviewer-close:active {
	color: #FF5053;
}

.mui-imageviewer .mui-imageviewer-item {
	width: 100%;
	height: 100%;
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 0;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out;
	display: table;
	overflow: hidden;
}

.mui-imageviewer .mui-imageviewer-item-center {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}

.mui-imageviewer .mui-imageviewer-item-left {
	-webkit-transform: translateX(-100%);
	transform: translateX(-100%);
}

.mui-imageviewer .mui-imageviewer-item-right {
	-webkit-transform: translateX(100%);
	transform: translateX(100%);
}

.mui-imageviewer .mui-imageviewer-item span {
	display: table-cell;
	text-align: center;
	vertical-align: middle;
	line-height: 100%;
	font-size: 100%;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	overflow: auto;
}

.mui-imageviewer .mui-imageviewer-item img {
	backface-visibility: hidden;
	transform-origin: 50% 50% 0px;
	max-width: 100%;
}

.mui-imageviewer-left,
.mui-imageviewer-right {
	position: absolute;
	z-index: 2;
	color: #aaa;
	top: 50%;
	margin-top: -18px;
	font-size: 36px;
}

.mui-imageviewer-left {
	left: 5px;
}

.mui-imageviewer-right {
	right: 5px;
}

.mui-imageviewer-left:active,
.mui-imageviewer-right:active {
	color: #fff;
}

.mui-preview-image.mui-fullscreen {
	position: fixed;
	z-index: 20;
	background-color: #000;
}

.mui-preview-header,
.mui-preview-footer {
	position: absolute;
	width: 100%;
	left: 0;
	z-index: 10;
}

.mui-preview-header {
	height: 44px;
	top: 0;
}

.mui-preview-footer {
	height: 50px;
	bottom: 0px;
}

.mui-preview-header .mui-preview-indicator {
	display: block;
	line-height: 25px;
	color: #fff;
	text-align: center;
	margin: 15px auto 4;
	width: 70px;
	background-color: rgba(0, 0, 0, 0.4);
	border-radius: 12px;
	font-size: 16px;
}

.mui-preview-image {
	display: none;
	-webkit-animation-duration: 0.5s;
	animation-duration: 0.5s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.mui-preview-image.mui-preview-in {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

.mui-preview-image.mui-preview-out {
	background: none;
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

.mui-preview-image.mui-preview-out .mui-preview-header,
.mui-preview-image.mui-preview-out .mui-preview-footer {
	display: none;
}

.mui-zoom-scroller {
	position: absolute;
	display: -webkit-box;
	display: -webkit-flex;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	-webkit-backface-visibility: hidden;
}

.mui-zoom {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.mui-slider .mui-slider-group .mui-slider-item img {
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.mui-android-4-1 .mui-slider .mui-slider-group .mui-slider-item img {
	width: 100%;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-slider-group .mui-slider-item {
	display: inline-table;
}

.mui-android-4-1 .mui-slider.mui-preview-image .mui-zoom-scroller img {
	display: table-cell;
	vertical-align: middle;
}

.mui-preview-loading {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
}

.mui-preview-loading.mui-active {
	display: block;
}

.mui-preview-loading .mui-spinner-white {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-left: -25px;
	margin-top: -25px;
	height: 50px;
	width: 50px;
}

.mui-preview-image img.mui-transitioning {
	-webkit-transition: -webkit-transform 0.5s ease, opacity 0.5s ease;
	transition: transform 0.5s ease, opacity 0.5s ease;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@-webkit-keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}

p img {
	max-width: 100%;
	height: auto;
}